.container{
    width: 1000px;
    margin: auto;
}

li {
    font-size: 1.5rem;
    padding-left: 1rem ;
}

.load {
    color: red;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
